.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.spacing {
    margin: 40px;
}
.first-box {
    border: 1px solid darkslateblue;
    background-color: peachpuff;
}
.last-box {
    width: 20%;
    height: 40px;
    margin-left: 40%;
}
.second-box {
    margin-left: 30%;
    margin-bottom: 20px;
}
